:root{
    --azul:#0077ff;
    --verde:#33db2a;
    --fondo:#ffffff;
    --texto:#222;
}

body.oscuro{
    --fondo:#0d1117;
    --texto:#e6e6e6;
    --azul:#3399ff;
    --verde:#7b00e6;
}

body{
    margin:0;
    background:var(--fondo);
    color:var(--texto);
    font-family:Arial;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:var(--azul);
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
    z-index:99;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:20px;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.modo-btn{
    background:var(--verde);
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
    color:white;
}

.hero{
    padding-top:120px;
    height:70vh;
    background:linear-gradient(to right, var(--azul), var(--verde));
    color:white;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.btn-primario{
    padding:10px 20px;
    background:var(--verde);
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

.animar{
    animation: bajar 1.3s ease;
}

.animar2{
    animation: fade 2s ease;
}

@keyframes bajar{
    from{ transform:translateY(-40px); opacity:0; }
    to{ transform:translateY(0); opacity:1; }
}

@keyframes fade{
    from{ opacity:0; }
    to{ opacity:1; }
}

section{
    padding:70px 30px;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:var(--fondo);
    padding:20px;
    border-radius:12px;
    width:280px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.zoom:hover{
    transform:scale(1.05);
}

.portfolio-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    gap:20px;
}

.item{
    background:var(--azul);
    padding:40px;
    color:white;
    border-radius:12px;
}

.equipo-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    gap:20px;
}

.persona{
    padding:20px;
    background:var(--verde);
    color:white;
    border-radius:12px;
}